{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="{% url 'map' %}" class="button maps-button"><span class="button-text"><span class="fi-map"></span> <br />Map</span></a>
<a href="{% url 'list' %}" class="button exhibitor-button"><span class="button-text"><div class="image"><span class="fi-torsos-all"></span></div><div class="text">Company List</div></span></a>
<p class="center">
  Company Rep? Click <a href="help.html">here</a> for assistance.
</p>
{% endblock %}